In [5]:
import numpy as np
a = np.array([1,2,3,4])
a

array([1, 2, 3, 4])

In [7]:
a.resize(2,2)
a

array([[1, 2],
       [3, 4]])

In [2]:
import pandas as pd
numbers = [1,2,3,4]
pd.Series(numbers)

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
pd.Series?

In [11]:
np.nan == None

False

In [12]:
np.isnan(np.nan)

True

In [13]:
a = pd.Series(['a','b'], index = [1,2])
a

1    a
2    b
dtype: object

In [17]:
a.iloc[1]

'b'

In [18]:
a.loc[1]

'a'

In [19]:
a[1]

'a'

In [22]:
a.loc[1] == a[1]

True

In [24]:
total = np.sum(numbers)
total

10

In [25]:
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    321
1    595
2    428
3    204
4    130
dtype: int64